<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label t('fields.title'), class: 'input-group-addon' %>
    <%= f.text_field :title, class: 'form-control', placeholder: t('fields.title') %>
  </div>
  <div class="input-group">
    <%= f.label t('fields.description'), class: 'input-group-addon' %>
    <%= f.text_field :description, class: 'form-control', placeholder: t('fields.description') %>
  </div>
  <div class="actions">
    <%= f.submit t('actions.apply'), class: 'btn btn-default' %>
  </div>
<% end %>
