<div class="panel panel-default">
  <div class="panel-heading">
    <%= t 'actions.edit' %> <%= @idea.title %></div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to t('actions.cancel'), ideas_path %> |
    <%= link_to t('actions.delete'), @idea, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
