<div class="panel panel-default">
  <div class="panel-heading">
    <%= t 'my_ideas.ideas_for_site' %>
    <%= link_to t('my_ideas.new_idea'), new_idea_path, :class => 'pull-right' %>
  </div>
  
  <div class="panel-body">
    
    <div class="list-group">
    <% @ideas.each do |idea| %>
      <%= link_to(edit_idea_path(idea), :class => 'list-group-item') do %>
        <h4 class="list-group-item-heading"><%= idea.title %></h4>
        <p class="list-group-item-text"><%= idea.description %></p>
      <% end %>
    <% end %>
    </div>
    
  </div>
</div>
