<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Order:</strong>
  <%= @idea.order %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @idea.is_deleted %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Destroy', @idea, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', ideas_path %>
