<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="input-group">
    <%= f.label t('fields.title'), class: 'input-group-addon' %>
    <%= f.text_field :title, class: 'form-control', placeholder: t('fields.title') %>
  </div>
  <div class="input-group">
    <%= f.label t('fields.description'), class: 'input-group-addon' %>
    <%= f.text_field :description, class: 'form-control', placeholder: t('fields.description') %>
  </div>
  <div class="input-group">
    <%= f.label t('fields.url'), class: 'input-group-addon' %>
    <%= f.text_field :url, class: 'form-control', placeholder: t('fields.url') %>
  </div>
  <div class="input-group">
    <%= f.label t('fields.work.released'), class: 'input-group-addon' %>
    <%= f.date_select :released, class: 'form-control', placeholder: t('fields.work.released') %>
  </div>
  
  <div class="actions">
    <%= f.submit t('actions.apply'), class: 'btn btn-default' %>
  </div>
<% end %>
