<div id="works-list" class="panel panel-default">
  <div class="panel-heading">
    <%= t 'menu.my_works' %>
    <% if user_signed_in? %>
      <%= link_to t('my_works.new_work'), new_work_path(), :class => 'pull-right' %>
    <% end %>
  </div>
  
  <div class="panel-body">
    
    <div class="list-group">
    <% @works.each do |work| %>
      <%= active_rich_link_to(work_path(work, :anchor => 'works-list'), :class => 'list-group-item') do %>
        <h4 class="list-group-item-heading"><%= work.title %></h4>
        <p class="list-group-item-text"><%= work.description %></p>
      <% end %>
    <% end %>
    </div>
    
  </div>
</div>
