<%= render 'list' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= t 'actions.edit' %> <%= @work.title %></div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to t('actions.cancel'), work_path(@work, anchor: 'works-list') %>
  </div>
</div>
