<%= render 'list' %>

<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to @work.url, @work.url, target: 'blank' %>
  </div>
  <div class="panel-body">
    <p>
      <%= @work.title %> <br/>
      <%= @work.description %>
    </p>
    <p>
      <i><%= t 'fields.work.released' %>: <%= @work.released %></i>
    </p>
  </div>
  <div class="panel-footer">
    <%= link_to t('actions.edit'), edit_work_path(@work, anchor: 'works-list') %> |
    <%= link_to t('actions.delete'), @work, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>


