<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @work.url %>
</p>

<p>
  <strong>Released:</strong>
  <%= @work.released %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @work.is_deleted %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Destroy', @work, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', works_path %>
